
.vs/GameOfLife/v15/.suo
.vs/GameOfLife/v15/Browse.VC.db
.vs/GameOfLife/v15/Browse.VC.opendb
Debug/GameOfLife.exe
Debug/GameOfLife.ilk
Debug/GameOfLife.pdb
GameOfLife/Debug/GameOfLife.obj
GameOfLife/Debug/GameOfLife.tlog/CL.read.1.tlog
GameOfLife/Debug/GameOfLife.tlog/CL.write.1.tlog
GameOfLife/Debug/life.obj
GameOfLife/Debug/vc141.idb
GameOfLife/Debug/vc141.pdb
.vs/GameOfLife/v15/.suo
.vs/GameOfLife/v15/Browse.VC.db
Debug/GameOfLife.exe
Debug/GameOfLife.ilk
Debug/GameOfLife.pdb
GameOfLife/Debug/GameOfLife.obj
GameOfLife/Debug/GameOfLife.tlog/CL.read.1.tlog
GameOfLife/Debug/GameOfLife.tlog/CL.write.1.tlog
GameOfLife/Debug/life.obj
GameOfLife/Debug/vc141.idb
GameOfLife/Debug/vc141.pdb
